# Database (PostgreSQL)
# Used by Prisma to connect to the database
DATABASE_URL=

# Clerk Authentication
# Get these from https://dashboard.clerk.com/
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
# CLERK_SECRET_KEY=
# OpenAI API
# Get this from https://platform.openai.com/api-keys
OPEN_API_KEY=
OPEN_BASE_URL=
OPEN_MODEL=
